<div>
  <form novalidate (ngSubmit)="register()">
    <div >
      <div >
        <h5 >Sign Up!</h5>
      </div>
      <div>
          <div class="form-group">
              <input type="text" placeholder="Enter Password" style="text-align: center" name="firstname" [(ngModel)]="regForm.firstname" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Enter Password" style="text-align: center" name="lastname" [(ngModel)]="regForm.lastname" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Enter Password" style="text-align: center" name="email" [(ngModel)]="regForm.email" class="form-control">
              </div>
        <div class="form-group">
          <input type="text" placeholder="Enter Password" style="text-align: center" name="username" [(ngModel)]="regForm.username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Enter Password" style="text-align: center" name="password" [(ngModel)]="regForm.password" class="form-control">
        </div>

      </div>
      <div>
        <input type="submit" class="btn btn-outline-info" value="Register">
        <button type="button" class="btn btn-outline-success" [routerLink]="['/']">Back to Login</button>
      </div>
    </div>

    <!-- <div *ngIf="message">
      <div [ngClass]="messageStyle">{{ message }}</div>
    </div> -->
  </form>

</div>