<div class="col-md-12 dogs-list">
  <h2>Dog Details</h2>
 
  <div>
    <!-- Example of CRUD OPERATIONS-->
    <input type="text" id="username" value="" />
    <button (click)="fetchData()">Retrieve Favorites</button>
  </div>

  <div>
      UserId<input type="text" id="userId" value="" />
      BreedId<input type="text" id="breedId" value="" />

      <button class="btn btn-danger add-btn" (click)="addDog()">Add Dog</button>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Breed ID</th>
        <th>Name</th>
        <th>Temparement</th>
        <th>Origin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let breed of breeds; index as i">
        <td>{{ breed.id }}</td>
        <td>{{ breed.name }}</td>
        <td>{{ breed.temperament }}</td>
        <td>{{ breed.origin }}</td>
        
        <!-- <td>
          <button class="btn btn-danger" (click)="deleteDog(dogs)">
            Delete
          </button>
           <button
            class="btn btn-danger"
            (click)="editDog(dogs)"
            style="margin-left: 20px;"
          >
            Edit
          </button> 
        </td>-->
      </tr>
    </tbody>
  </table>
</div>
