<div class="col-md-12 dogs-list">
  <h2>Dog Details</h2>
  <button class="btn btn-danger add-btn" (click)="addDog()">Add Dog</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Name</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of dogs; index as i">
        <td class="hidden">{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteDog(dogs)">
            Delete
          </button>
          <button
            class="btn btn-danger"
            (click)="editDog(dogs)"
            style="margin-left: 20px;"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
